<div id="category" class="category" style="display: none;">
    <div class="category-title">分类目录</div>
    <ul class="category-list">
        {% for category in site.categories %}
            {% case category[0] %}
                {% when 'javascript' %}
                    {% assign catName = '前端' %}
                {% when 'translate' %}
                    {% assign catName = '翻译' %}
                {% when 'photo' %}
                    {% assign catName = '摄影' %}
                {% when 'book' %}
                    {% assign catName = '读书' %}
                {% when 'essay' %}
                    {% assign catName = '随想' %}
                {% when 'business' %}
                    {% assign catName = '业界' %}
                {% when 'other' %}
                    {% assign catName = '其他' %}
                {% else %}
                    {% assign catName = category[0] %}
            {% endcase %}
            
            <li class="category-list-item">
                <a href="{{ site.baseurl }}/archive/category.html#{{ category[0] }}">
                    {{ catName }} <sup>({{ category[1].size }})</sup>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>